---
layout: default
modelling-gallery-srcs:
  - /assets/images/projects-modelling/bathroom-1
  - /assets/images/projects-modelling/bathroom-2
  - /assets/images/projects-modelling/bathroom-3
  - /assets/images/projects-modelling/bathroom-4
  - /assets/images/projects-modelling/bathroom-5
  - /assets/images/projects-modelling/ivy-1
  - /assets/images/projects-modelling/light-1
  - /assets/images/projects-modelling/light-2
  - /assets/images/projects-modelling/light-3
  - /assets/images/projects-modelling/shampoo-1
  - /assets/images/projects-modelling/toilet-1
  - /assets/images/projects-modelling/toilet-2
  - /assets/images/projects-modelling/toilet-3
---

<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article role="pge-title-content">
        <header>
          <h2 class="agency"><span>PORTFOLIO</span> KAROLINE BRABENETZ</h2>
        </header>
      </article>
    </section>

    <div class="clearfix"></div>

    <article role="pge-title-content">
      <h2 class="agency">3D MODELLING</h2>
    </article>

    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grid">
      {% include gallery.html img-srcs=page.modelling-gallery-srcs id="modelling" %}
    </section>

    <div class="clearfix"></div>

    <article role="pge-title-content">
      <h2 class="agency">OTHER PROJECTS</h2>
    </article>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/pic_hol_scrib/pic_hol_scrib-1-thumb.jpg"
          link="showcases/pic-hol-scrib.html" heading="Pic-Hol-Scrib"
          subheading="Produktentwicklung für Behindertenwerkstätte"
          class="pic-hol-scrib" %}
        </li>
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/wandelbares_bett/wandelbares_bett-1-thumb.jpg"
          link="showcases/wandelbares_bett.html" heading="Wandelbares Bett"
          subheading="Möbeldesign für Kinder" class="wandelbares_bett" %}
        </li>
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/ruescher_lehrlinge/ruescher_lehrlinge-1-thumb.jpg"
          link="showcases/ruescher_lehrlinge.html" heading="Rüscher.Lehrlinge"
          subheading="Produktentwicklung für eine Tischlerei"
          class="rüscher_lehrlinge" %}
        </li>
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/locomatomatic/locomatomatic-1-thumb.jpg"
          link="showcases/locomatomatic.html" heading="Locomatomatic"
          subheading="Concept/Design/Modeling/Music&Sound" class="locomatomatic"
          %}
        </li>
      </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/clapstoolclap/clapstoolclap-1-thumb.jpg"
          link="showcases/clapstoolclap.html" heading="CLAPstoolCLAP"
          subheading="Möbeldesign" class="clapstoolclap" %}
        </li>
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/rutschpartie/rutschpartie-1-thumb.jpg"
          link="showcases/rutschpartie.html" heading="Rutschpartie"
          subheading="Küchenoptimierung" class="rutschpartie" %}
        </li>
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/veering_fire/veering_fire-1-thumb.jpg"
          link="showcases/veering_fire.html" heading="Veering Fire"
          subheading="Feuerstelle für draußen" class="veering_fire" %}
        </li>
        <li>
          {% include figure.html
          image-src="/assets/images/projects-other/flower_power/flower_power-2-thumb.jpg"
          link="showcases/flower_power.html" heading="Flower Power"
          subheading="Produktdesign" class="flower_power" %}
        </li>
      </ul>
    </section>

    <div class="clearfix"></div>
  </div>
</main>
