---
layout: default
modelling-gallery-srcs:
  - /assets/images/projects-modelling/bathroom-1
  - /assets/images/projects-modelling/bathroom-2
  - /assets/images/projects-modelling/bathroom-3
  - /assets/images/projects-modelling/bathroom-4
  - /assets/images/projects-modelling/bathroom-5
  - /assets/images/projects-modelling/shampoo-1
  - /assets/images/projects-modelling/ivy-1
  - /assets/images/projects-modelling/vase-1
  - /assets/images/projects-modelling/light-1
  - /assets/images/projects-modelling/light-2
  - /assets/images/projects-modelling/light-3
  - /assets/images/projects-modelling/toilet-1
  - /assets/images/projects-modelling/toilet-2
  - /assets/images/projects-modelling/toilet-3
---

<main role="main-home-wrapper" class="container">
  <div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <article role="pge-title-content">
        <header>
          <h2 class="agency"><span>PORTFOLIO</span> KAROLINE BRABENETZ</h2>
        </header>
      </article>
    </section>

    <div class="clearfix"></div>

    <article role="pge-title-content">
      <h2 class="agency">3D MODELLING</h2>
    </article>

    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grid">
      {% include gallery.html img-srcs=page.modelling-gallery-srcs id="modelling" %}
    </section>

    <div class="clearfix"></div>

    <article role="pge-title-content">
      <h2 class="agency">OTHER PROJECTS</h2>
    </article>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          {% include figure.html data=site.data.showcases.pic-hol-scrib %}
        </li>
        <li>
          {% include figure.html data=site.data.showcases.wandelbares_bett %}
        </li>
        <li>
          {% include figure.html data=site.data.showcases.ruescher_lehrlinge %}
        </li>
        <li>
          {% include figure.html data=site.data.showcases.locomatomatic %}
        </li>
      </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
      <ul class="grid-lod effect-2" id="grid">
        <li>
          {% include figure.html data=site.data.showcases.clapstoolclap %}
        </li>
        <li>
          {% include figure.html data=site.data.showcases.rutschpartie %}
        </li>
        <li>
          {% include figure.html data=site.data.showcases.veering_fire %}
        </li>
        <li>
          {% include figure.html data=site.data.showcases.flower_power %}
        </li>
      </ul>
    </section>

    <div class="clearfix"></div>
  </div>
</main>