<main role="main-inner-wrapper" class="container">
  <div class="work-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <header role="work-title">
          <h2 class="agency">{{ include.data.heading | upcase }}</h2>
        </header>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <section>

          {% unless include.data.hide-description %}
            <b>Description</b>
            {% for descriptionParagraph in include.data.description-english.paragraphs %}
              <p>{{descriptionParagraph}}</p>
            {% endfor %}
            <hr/>
            <b>Beschreibung</b>
            {% for descriptionParagraph in include.data.description-german.paragraphs %}
              <p>{{descriptionParagraph}}</p>
            {% endfor %}
          {% endunless %}

          {% unless include.data.hide-programs %}
            {% if include.data.programs %}
              <hr/>
              <strong>Software</strong>
              <br />
              <p>{{include.data.programs}}</p>
            {% endif %}
          {% endunless %}

        </section>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="work-images grid">
      <ul class="grid-lod effect-2" id="grid">
        {% include gallery.html img-srcs=include.data.img-srcs id="showcase" %}
      </ul>
    </div>
  </div>
</main>
